@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s forwards;
}

@keyframes scaleIn {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}
